.vscode/
*.code-workspace
*.exe
*.obj
*.o
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.ipch
*.pch
*.sdf
CMakeCache.txt
CMakeFiles/
Makefile
build/
out/
*.log
*.tmp
*.cache
*.ncb
*.user
*.suo
*.plg
Thumbs.db
Desktop.ini
.clangd/
.clang-format
.clang-tidy
.git/
